input{
    width: 5em;
    font-family: FontAwesome;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.Contenedor {
    height: inherit;
}

.opa{
    height: inherit;
    background-color: rgba(30, 30, 45, 0.8);
}

.Menu {
    background-image: url("/images/panel.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: inherit;
}

.Vistas {
    background: rgb(30, 30, 45);
    height: inherit;
}

.logo {
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    height: auto;
}

.Barra{
    background: rgb(39, 41, 59);
    padding: 0.2em;
}

*{
    color: white;
}
