<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Materia</title>
    <link rel="stylesheet" type="text/css" href="css/agregarM.css">
    <script
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="row form">
    <div class="col-8 divimg"></div>
    <div class="col-4 p-4 align-self-center">
        <div class="row col-12 align-items-center">
            <form class="col-12" method="post" th:action="@{/validarM}" th:object="${materia}">
                <h1 class="col-12 m-4 text-left">Agregar Materia</h1>
                <div class="form-group row">
                    <label class="col-3">Nombre</label>
                    <input class="col-9" type="text" placeholder="Nombre" th:field="*{materia}">
                    <span class="col-12 text-center errors" th:errors="*{materia}" style="color: #FF0000"></span>
                </div>
                <div class="form-group row justify-content-center">
                    <input class="col-4 btn btn-outline-light btnlog" type="submit" value="Agregar">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</body>
</html>
