<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Coordinador</title>
    <link rel="stylesheet" type="text/css" href="css/dashCoord.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7f66318f6f.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="row Contenedor">
    <div class="col-md-2 Menu pr-0">
        <div class="opa">
            <div class="col-md-12 logo row m-0">
                <div class="col-md-12 m-1 row">
                    <i class="fas fa-dice-d20 col-md-2" style="font-size: 2em;"></i>
                    <h4 class="col-md-10"><a class="text-reset text-decoration-none" th:href="@{/coordinador}">Dash Coord</a></h4>
                </div>
            </div>
            <div class="col-md-12 Opciones row m-0">
                <div class="col-md-12 mt-4 row justify-content-center">
                    <i class="fas fa-school col-md-2"></i>
                    <a class="col-md-10 text-white text-decoration-none" th:href="@{/listadoE}">Expediente de Estudiantes </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-10 Vistas pr-0">
        <div class="col-md-12 row Barra mr-0">
            <div class="col-md-12 row justify-content-end p-0">
                <form class="col- justify-content-end" th:action="@{/logout}">
                    <input class="btn btn-danger" type="submit" value="Logout">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
