<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registrarse</title>
    <link rel="stylesheet" type="text/css" href="css/agregarE.css">
    <script
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div class="row form">
    <div class="col-8 divimg"></div>
    <div class="col-4 p-4 align-self-center">
        <div class="row col-12 align-items-center">
            <form class="col-12" method="post" th:action="@{/validarEEs}" th:object="${estudiante}">
                <h1 class="col-12 m-4 text-left">Editar Expediente</h1>
                <div class="form-group row">
                    <label class="col-3">Nombre</label>
                    <input th:field="*{codigoEstudiante}" th:value="${codigo}" style="display: none;">
                    <input class="col-9" type="text" placeholder="Nombre" th:field="*{nombre}">
                    <span class="col-12 text-center errors" th:errors="*{nombre}" style="color: #FF0000"></span>
                </div>
                <div class="form-group row">
                    <label class="col-3">Apellido</label>
                    <input class="col-9" type="text" placeholder="Apellido" th:field="*{apellido}">
                    <span class="col-12 text-center errors" th:errors="*{apellido}" style="color: #FF0000"></span>
                </div>
                <div class="form-group row">
                    <label class="col-3">Carnet</label>
                    <input class="col-9" type="text" placeholder="Carnet" th:field="*{carnet}" >
                    <span class="col-12 text-center errors" th:errors="*{carnet}" style="color: #FF0000"></span>
                </div>
                <div class="form-group row">
                    <label class="col-3">Fecha de nacimiento</label>
                    <input class="col-9" id="fechaN" th:value="${fecha}" type="date" th:field="*{fechaNacimiento}">
                    <span class="col-12 text-center errors" th:errors="*{fechaNacimiento}" style="color: #FF0000"></span>
                </div>
                <div class="form-group row">
                    <label class="col-3 text-center">Instituto de Procedencia</label>
                    <select class="col-9 w-100" name="centroE" id="centroE" th:field="*{codigoCentro}">
                        <option class="col-12" th:each="centro, row: ${centros}" th:id="${centro.municipio.codigoMunicipio}" th:value="${centro.codigoCentro}" th:text="${centro.nombre}"></option>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-3">Direccion</label>
                    <input class="col-9" type="text" placeholder="Direccion" th:field="*{direccionResidencia}">
                    <span class="col-12 text-center errors" th:errors="*{direccionResidencia}" style="color: #FF0000"></span>
                </div>
                <div class="form-group row">
                    <label class="col-3">Telefono</label>
                    <input class="col-9" type="text" name="telefono" id="telefono" placeholder="1234-5678" th:field="*{telefono}">
                    <span class="col-12 text-center errors" th:errors="*{telefono}" style="color: #FF0000"></span>
                </div>
                <div class="form-group row">
                    <label class="col-3">Celular</label>
                    <input class="col-9" type="text" name="celular" id="celular" placeholder="1234-5678" th:field="*{celular}">
                    <span class="col-12 text-center errors" th:errors="*{celular}" style="color: #FF0000"></span>
                </div>
                <div class="form-group row">
                    <label class="col-3">Nombre del Padre</label>
                    <input class="col-9" type="text" placeholder="Escribe aqui..." th:field="*{nombrePadre}">
                    <span class="col-12 text-center errors" th:errors="*{nombrePadre}" style="color: #FF0000"></span>
                </div>
                <div class="form-group row">
                    <label class="col-3">Nombre de la Madre</label>
                    <input class="col-9" type="text" placeholder="Escribe aqui..." th:field="*{nombreMadre}">
                    <span class="col-12 text-center errors" th:errors="*{nombreMadre}" style="color: #FF0000"></span>
                </div>
                <div class="form-group row justify-content-center">
                    <input class="col-4 btn btn-outline-light btnlog" type="submit" value="Guardar" th:action="@{/validarR}">
                </div>
            </form>
            <form class="col-12" method="post" th:action="@{/listadoE}">
                <div class="form-group row justify-content-center">
                    <input class="col-4 btn btn-outline-light btnlog" type="submit" value="Regresar">
                </div>
            </form>
    </div>
</div>
</body>
</html>

