<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Administrador</title>
    <link rel="stylesheet" type="text/css" href="css/listaUsuarios.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7f66318f6f.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="row Contenedor">
    <div class="col-md-2 Menu pr-0">
        <div class="col-md-12 logo row m-0">
            <div class="col-md-12 m-1 row">
                <i class="fas fa-dice-d20 col-md-2" style="font-size: 2em;"></i>
                <h4 class="col-md-10"><a class="text-reset text-decoration-none" th:href="@{/admin}">Dash Admin</a></h4>
            </div>
        </div>
        <div class="col-md-12 Opciones row m-0">
            <div class="col-md-12 mt-4 row justify-content-center">
                <i class="fas fa-school col-md-2"></i>
                <a class="col-md-10 text-dark text-decoration-none" th:href="@{/listadoC}">Centros Escolares</a>
            </div>
            <div class="col-md-12 mt-4 row justify-content-center">
                <i class="fas fa-book col-md-2"></i>
                <a class="col-md-10 text-dark text-decoration-none" th:href="@{/listaM}">Materias</a>
            </div>
            <div class="col-md-12 mt-4 row justify-content-center">
                <i class="fas fa-users col-md-2"></i>
                <a class="col-md-10 text-dark text-decoration-none" th:href="@{/listadoU}">Usuarios</a>
            </div>
        </div>
    </div>
    <div class="col-md-10 Vistas pr-0">
        <div class="col-md-12 row justify-content-between Barra mr-0">
            <div class="col-md-6">
                <form class="col-md-" th:action="@{/agregarM}">
                    <input class="w-auto btn btn-success" type="submit" value="Agregar Materia">
                </form>
            </div>
            <div class="col-md- row justify-content-end p-0">
                <form class="col-md-12 justify-content-end" th:action="@{/logout}">
                    <input class="w-auto btn btn-danger" type="submit" value="Logout">
                </form>
            </div>
        </div>
        <div class="col-md-12 row Tablas">
            <div class="col-md-12 row justify-content-md-center">
                <div class="row justify-content-center">
                    <h1 class="col-md-12 ">Listado de Materias</h1>
                </div>
            </div>
            <div class="col-md-12 row m-0">
                <table class="col-md-12 listado" id="listado">
                    <thead class="cabecera">
                    <th class="col-">Accion</th>
                    <th class="col-">CDU</th>
                    <th class="col-">Materia</th>
                    </thead>
                    <th:block th:each="materias, row:${materias}">
                        <tr>
                            <th>
                                <input class="btn fa btn-info" id="editar" type="submit" value="&#xf4ff;"
                                       onclick="cargar_departamentos(this)" onreset="anular()">
                                <input class="btn fa btn-info" id="guardar" style="display: none" type="submit"
                                       value="&#xf0c7;" onclick="guardado(this)" onreset="anular()">
                                <form class="p-0 m-0" method="post" th:action="@{/editM}">
                                    <input type="text" style="display: none" id="formC" name="codigoF"
                                           th:name="codigoF">
                                    <input type="text" style="display: none" id="formM" name="materiaF"
                                           th:name="materiaF">
                                    <input class="btn fa btn-success" id="confirmar" style="display: none"
                                           type="submit" value="&#xf058;">
                                </form>
                            </th>
                            <th>
                                <p id="codigoP" th:text="${materias.codigoMateria}"
                                   style="display: block"></p>
                            </th>
                            <th>
                                <p id="materiaP" th:text="${materias.materia}" style="display: block"></p>
                                <input id="materia" type="text" placeholder="Materia" style="display: none">
                            </th>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    var editando = false;

    function anular() {

        window.location.reload();

    }

    //PRESIONA EL BOTON EDITAR
    function cargar_departamentos(boton) {
        if (editando == false) {
            var usuario = boton.parentNode //Tabla seleccionada NODO TRD
            var celda = usuario.parentNode //Celda seleccionada NODO TD

            var parrafos = celda.getElementsByTagName('p');

            //Capturar los datos del usuario en los parrafos INICIO
            const materia = parrafos[1].textContent;
            //Capturar los datos del usuario en los parrafos FIN

            for (i = 0; i < parrafos.length; i++) {
                if (parrafos[i].id === "codigoP") {
                    parrafos[i].style.display = "block";
                } else {
                    parrafos[i].style.display = "none";
                }
            }

            var inputs = celda.getElementsByTagName('input');
            for (i = 0; i < inputs.length; i++) {
                if (inputs[i].id === "editar" || inputs[i].id === "confirmar" || inputs[i].id === "formC" || inputs[i].id === "formM") {
                    inputs[i].style.display = "none";
                } else {
                    if (i === 5) {
                        inputs[i].placeholder = materia;
                    }
                    inputs[i].style.display = "block";
                    inputs[i].style.minWidth = "100%! Important";
                    inputs[i].style.width = "100%";
                }
            }
            editando = true;
        } else {
            alert('Solo se puede editar uns fila. Recargue la página para poder editar otra');

        }
    }

    //PRESIONA EL BOTON GUARDAR
    function guardado(boton) {
        var usuario = boton.parentNode //Tabla seleccionada NODO TRD
        var celda = usuario.parentNode //Celda seleccionada NODO TD

        var parrafos = celda.getElementsByTagName('p');
        //var selects = celda.getElementsByTagName('select');
        var inputs = celda.getElementsByTagName('input');

        const materia = parrafos[1].textContent;

        let i = 0;
        let j = 7;
        do {
            parrafos[i].style.display = "block"
            i++
        } while (i < parrafos.length);
        parrafos[1].textContent = inputs[5].value
        //-----------------------------Parrafos FIN

        for (t = 0; t < inputs.length; t++) {
            if (inputs[t].id === "confirmar") {
                inputs[t].style.display = "block";
            } else {
                inputs[t].style.display = "none";
            }

        }

        posicion = 2
        posicionI = 0

        do {
            inputs[posicion].value = parrafos[posicionI].textContent
            posicionI++
            posicion++
        } while (posicion < inputs.length - 2)
    }

</script>
