<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Administrador</title>
    <link rel="stylesheet" type="text/css" href="css/listaUsuarios.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7f66318f6f.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="row Contenedor">
    <div class="col-md-2 Menu pr-0">
        <div class="col-md-12 logo row m-0">
            <div class="col-md-12 m-1 row">
                <i class="fas fa-dice-d20 col-md-2" style="font-size: 2em;"></i>
                <h4 class="col-md-10"><a class="text-reset text-decoration-none" th:href="@{/admin}">Dash Admin</a></h4>
            </div>
        </div>
        <div class="col-md-12 Opciones row m-0">
            <div class="col-md-12 mt-4 row justify-content-center">
                <i class="fas fa-school col-md-2"></i>
                <a class="col-md-10 text-dark text-decoration-none" th:href="@{/listadoC}">Centros Escolares</a>
            </div>
            <div class="col-md-12 mt-4 row justify-content-center">
                <i class="fas fa-book col-md-2"></i>
                <a class="col-md-10 text-dark text-decoration-none" th:href="@{/listaM}">Materias</a>
            </div>
            <div class="col-md-12 mt-4 row justify-content-center">
                <i class="fas fa-users col-md-2"></i>
                <a class="col-md-10 text-dark text-decoration-none" th:href="@{/listadoU}">Usuarios</a>
            </div>
        </div>
    </div>
    <div class="col-md-10 Vistas pr-0">
        <div class="col-md-12 row justify-content-between Barra mr-0">
            <div class="col-md-6">
                <form class="col-md-" th:action="@{/agregarC}">
                    <input class="w-auto btn btn-success" type="submit" value="Agregar Centro Escolar">
                </form>
            </div>
            <div class="col-md- row justify-content-end p-0">
                <form class="col-md-12 justify-content-end" th:action="@{/logout}">
                    <input class="w-auto btn btn-danger" type="submit" value="Logout">
                </form>
            </div>
        </div>
        <div class="col-md-12 row Tablas">
            <div class="col-md-12 row justify-content-md-center">
                <div class="row justify-content-center">
                    <h1 class="col-md-12 ">Listado de Centros Escolares</h1>
                </div>
            </div>
            <div class="col-md-12 row m-0">
                <table class="col-md-12 listado" id="listado">
                    <thead class="cabecera">
                    <th class="col-">Accion</th>
                    <th class="col-">CDU</th>
                    <th class="col-">Nombre</th>
                    <th class="col-">Direccion</th>
                    <th class="col-">Telefono</th>
                    <th class="col-">Municipio</th>
                    </thead>
                    <th:block th:each="centrosEscolares, row:${centroEscolares}">
                        <tr>
                            <th>
                                <input class="btn fa btn-info" id="editar" type="submit" value="&#xf4ff;"
                                       onclick="cargar_departamentos(this)" onreset="anular()">
                                <input class="btn fa btn-info" id="guardar" style="display: none" type="submit"
                                       value="&#xf0c7;" onclick="guardado(this)" onreset="anular()">
                                <form class="p-0 m-0" method="post" th:action="@{/editCentroE}">
                                    <input type="text" style="display: none" id="formC" name="codigoCF"
                                           th:name="codigoCF">
                                    <input type="text" style="display: none" id="formN" name="nombreCF"
                                           th:name="nombreCF">
                                    <input type="text" style="display: none" id="formD" name="direccionCF"
                                           th:name="direccionCF">
                                    <input type="text" style="display: none" id="formT" name="telefonoCF"
                                           th:name="telefonoCF">
                                    <input type="text" style="display: none" id="formM" name="municipioCF"
                                           th:name="municipioCF">
                                    <input class="btn fa btn-success" id="confirmar" style="display: none"
                                           type="submit" value="&#xf058;">
                                </form>
                            </th>
                            <th>
                                <p id="codigoCP" th:text="${centrosEscolares.codigoCentro}"
                                   style="display: block"></p>
                            </th>
                            <th>
                                <p id="nombreCP" th:text="${centrosEscolares.nombre}" style="display: block"></p>
                                <input id="nombre" type="text" placeholder="Nombre" style="display: none">
                            </th>
                            <th>
                                <p id="direccionCP" th:text="${centrosEscolares.direccion}" style="display: block"></p>
                                <input id="direccion" type="text" placeholder="Direccion" style="display: none">
                            </th>
                            <th>
                                <p id="telefonoCP" th:text="${centrosEscolares.telefono}" style="display: block"></p>
                                <input id="telefono" type="text" style="display: none" placeholder="1234-5678">
                            </th>
                            <th>
                                <p id="municipio" th:text="${centrosEscolares.municipio.municipio}"
                                   style="display: block"></p>
                            </th>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    var editando = false;

    function anular() {

        window.location.reload();

    }

    //PRESIONA EL BOTON EDITAR
    function cargar_departamentos(boton) {
        if (editando == false) {
            var usuario = boton.parentNode //Tabla seleccionada NODO TRD
            var celda = usuario.parentNode //Celda seleccionada NODO TD

            var parrafos = celda.getElementsByTagName('p');

            //Capturar los datos del usuario en los parrafos INICIO
            const nombre = parrafos[1].textContent;
            const direccion = parrafos[2].textContent;
            const telefono = parrafos[3].textContent;
            //Capturar los datos del usuario en los parrafos FIN

            for (i = 0; i < parrafos.length; i++) {
                if (parrafos[i].id === "codigoCP" || parrafos[i].id === "municipio") {
                    parrafos[i].style.display = "block";
                } else {
                    parrafos[i].style.display = "none";
                }
            }

            /*var selects = celda.getElementsByTagName('select');
            for (i = 0; i < selects.length; i++) {
                selects[i].style.display = "block";
            }*/

            var inputs = celda.getElementsByTagName('input');
            for (i = 0; i < inputs.length; i++) {
                if (inputs[i].id === "editar" || inputs[i].id === "confirmar" || inputs[i].id === "formC" || inputs[i].id === "formN" || inputs[i].id === "formD" || inputs[i].id === "formT" || inputs[i].id === "formM") {
                    inputs[i].style.display = "none";
                } else {
                    if (i === 8) {
                        inputs[i].placeholder = nombre;
                    }
                    if (i === 9) {
                        inputs[i].placeholder = direccion;
                    }
                    if (i === 10) {
                        inputs[i].placeholder = telefono;
                    }
                    inputs[i].style.display = "block";
                    inputs[i].style.minWidth = "100%! Important";
                    inputs[i].style.width = "100%";
                }
            }
            editando = "true";
        } else {
            alert('Solo se puede editar uns fila. Recargue la página para poder editar otra');

        }
    }

    //PRESIONA EL BOTON GUARDAR
    function guardado(boton) {
        var usuario = boton.parentNode //Tabla seleccionada NODO TRD
        var celda = usuario.parentNode //Celda seleccionada NODO TD

        var parrafos = celda.getElementsByTagName('p');
        //var selects = celda.getElementsByTagName('select');
        var inputs = celda.getElementsByTagName('input');

        const nombre = parrafos[1].textContent;
        const direccion = parrafos[2].textContent;
        const telefono = parrafos[3].textContent;

        let i = 0;
        let j = 7;

        for (m=8; inputs.length; m++){
            if (inputs[m].value === ""){

            } else {
                do {
                    do {
                        parrafos[i].style.display = "block"
                        if (i > 0) {
                            if (i < 4) {
                                parrafos[i].textContent = inputs[j].value
                            } else {
                                break
                            }
                        }
                        j++
                    } while (j <= i)
                    i++
                } while (i < parrafos.length);
                //-----------------------------Parrafos FIN

                for (t = 0; t < inputs.length; t++) {
                    if (inputs[t].id === "confirmar") {
                        inputs[t].style.display = "block";
                    } else {
                        inputs[t].style.display = "none";
                    }

                }

                /*for (t = 0; t < selects.length; t++) {
                    selects[t].style.display = "none";
                }*/


                posicion = 2
                posicionI = 8

                do {
                    if (posicion === 2) {
                        inputs[posicion].value = parrafos[0].textContent
                    }
                    if (posicion > 2 && posicion < 6) {
                        inputs[posicion].value = inputs[posicionI].value
                        posicionI++
                    }
                    if (posicion === 6) {
                        inputs[posicion].value = parrafos[4].textContent
                    }
                    posicion++
                } while (posicion < inputs.length - 3)
            }
        }
    }

</script>
