<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Coordinador</title>
    <link rel="stylesheet" type="text/css" href="css/dashCoord.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7f66318f6f.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="row Contenedor">
    <div class="col-md-2 Menu pr-0">
        <div class="col-md-12 logo row m-0">
            <div class="col-md-12 m-1 row">
                <i class="fas fa-dice-d20 col-md-2" style="font-size: 2em;"></i>
                <h4 class="col-md-10"><a class="text-reset text-decoration-none" th:href="@{/coordinador}">Dash Coord</a></h4>
            </div>
        </div>
        <div class="col-md-12 Opciones row m-0">
            <div class="col-md-12 mt-4 row justify-content-center">
                <i class="fas fa-school col-md-2"></i>
                <a class="col-md-10 text-dark text-decoration-none" th:href="@{/listadoE}">Expediente de
                    Estudiantes </a>
            </div>
        </div>
    </div>
    <div class="col-md-10 Vistas pr-0">
        <div class="col-md-12 row Barra mr-0">
            <div class="col-md-2 p-0 m-0">
                <form class="col-md-" th:action="@{/registroE}">
                    <input class="w-auto btn btn-success" type="submit" value="Agregar Estudiante">
                </form>
            </div>
            <div class="col-md-8 p-0 m-0">
                <form class="col-md-12 p-0 m-0 row" th:action="@{buscarE}">
                    <select class="col-md-4 p-0 m-0" th:name="criterio" required>
                        <option value="0">Seleccione criterio [Nombres, Apellidos]</option>
                        <option value="1">Nombres [Nombres]</option>
                        <option value="2">Apellidos [Apellidos]</option>
                    </select>
                    <input class="col-md-6" type="text" th:name="buscado" required>
                    <input class="btn btn-primary col-md-2 fa" type="submit" value="&#xf002; Buscar">
                </form>
            </div>
            <div class="col-md-2 row justify-content-end p-0 m-0">
                <form class="col- justify-content-end" th:action="@{/logout}">
                    <input class="btn btn-danger" type="submit" value="Logout">
                </form>
            </div>
        </div>
        <div class="col-md-12 row Tablas">
            <div class="col-md-12 row justify-content-md-center">
                <div class="row justify-content-center">
                    <h1 class="col-md-12" th:text="${titulo}"></h1>
                </div>
            </div>
            <div class="col-md-12 row m-0">
                <table class="col-md-12 listado" id="listado">
                    <thead class="cabecera">
                    <th class="col- text-center">Accion</th>
                    <th class="col-">Estudiante</th>
                    <th class="col-">Materia</th>
                    <th class="col-">Año</th>
                    <th class="col-">Ciclo</th>
                    <th class="col-">Nota</th>
                    <th class="col-">Resultado</th>
                    </thead>
                    <th:block th:each="materiasE, row:${materiasE}">
                        <tr>
                            <th>
                                <div class="row justify-content-md-center">
                                    <form class="col-md-4 p-0 m-0" method="post" th:action="@{/editME}">
                                        <input th:name="codigoME" th:value="${materiasE.codigoME}" style="display: none">
                                        <input th:name="estudiante" th:value="${materiasE.codigoE}" style="display: none">
                                        <input th:name="materia" th:value="${materiasE.materia}" style="display: none">
                                        <input class="btn fa btn-info" id="materiasC" style="display: block"
                                               type="submit" value="&#xf044;">
                                    </form>
                                </div>
                            </th>
                            <th>
                                <p id="estudianteP" th:text="${materiasE.estudiante}"></p>
                            </th>
                            <th>
                                <p id="materiaP" th:text="${materiasE.materia}"></p>
                            </th>
                            <th>
                                <p id="anioP" th:text="${materiasE.anio}"></p>
                            </th>
                            <th>
                                <p id="cicloP" th:text="${materiasE.ciclo}"></p>
                            </th>
                            <th>
                                <p id="notaP" th:text="${materiasE.nota}"></p>
                            </th>
                            <th>
                                <p id="resultadoP" th:text="${materiasE.resultado}"></p>
                            </th>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
